:root {
    --background-img: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_Icons_(Original)/icon_setting.png');
    --background-img2: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_Icons_(Original)/icon_gem_2_green.png');
    --background-img3: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_Icons_(Original)/icon_coins.png');
    --background-img4: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_icontype_03_icon_l.png');
    --background-img6: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon/set_icon_menu05_boss.png');
    --background-img7: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_icontype_00_bot_fill_yellow.png');
    --background-img8: url('project://database/Assets/Layer Lab/GUI Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_icontype_05_icon1.png');
    --background-img9: url('project://database/Assets/Sprites/rank.png');
    --background-img21: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon/icon_ticket_gold.png");
    --background-img23: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_icontype_05_icon1.png");

    /*background-img blue*/
    --background-img10: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_itemframe_01_frame_purple1.png');

    /*background-img gold*/
    --background-img11: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_stageframe_04_s.png');
    --background-img12: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_iconframe_square_00_frame_red2.png');
    --background-img13: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_stageframe_00_Demo_s2.png');
    --background-img14: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_stageframe_00_White_s.png');
}

#SettingIcon {
    background-image: var(--background-img);
}

#GemIcon {
    background-image: var(--background-img2);
}

#GoldIcon {
    background-image: var(--background-img3);
}

#ProfileIcon {
    background-image: var(--background-img4);
}

#ProfileAvatar {
    background-image: var(--background-img6);
}

#RankSliderProgressBar {
    background-color: orange;
    width: 50%;
}

#RankLevel {
    background-image: var(--background-img8);
}

#ContainerRank {
    background-image: var(--background-img10);
    /*background-image: var(--background-img12);*/
}

#RankIcon {
    background-image: var(--background-img9);
}

#ContainerBattlePass {
    background-image: var(--background-img10);
    /*background-image: var(--background-img12);*/
}

#BattlePassIcon {
    background-image: var(--background-img21);
}

#SliderProgressBar {
    background-color: orange;
    width: 80%;
}

#Level {
    background-image: var(--background-img23);
}