:root {
    --background-img: url('project://database/Assets/Sprites/bg-4.png');
    --background-img1: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_edgetype_03_frame.png');
}

#BackgroundImage {
    background-image: var(--background-img);
}

#LoadingProgress {
    background-image: var(--background-img1);
}

#LoadingProgressPercent {
    background-color: #26619C;
    background-size: 60%;
    width: 80%;
}
