:root {
    --background-img: url("project://database/Assets/Sprites/bg-4.png?fileID=2800000&guid=c805ce92da5e14949b0cd7968648c13d&type=3#bg-4");
    --background-img2: url("project://database/Assets/Sprites/hang-tuah2.png?fileID=2800000&guid=e7ddecd0671c846408212a272189f9d3&type=3#hang-tuah2");
    --background-img3: url("project://database/Assets/Sprites/prof-pic.png?fileID=2800000&guid=84c984a4d355f5f45b35ff1e481bf2f9&type=3#prof-pic");
    --background-img4: url("project://database/Assets/Sprites/play.png?fileID=2800000&guid=e22dd5cb5e7a00d43a552c5904c3aafd&type=3#play");
    --background-img5: url("project://database/Assets/Sprites/battle-pass.png?fileID=2800000&guid=2cd4cdadb193dfa44865dbf737c6b12b&type=3#battle-pass");
    --background-img6: url("project://database/Assets/Sprites/missions.png?fileID=2800000&guid=dbbbce574a9c61640b852d101d804b8b&type=3#missions");
    --background-img7: url("project://database/Assets/Sprites/club.png?fileID=2800000&guid=78369a12d5798514fac2cc7a97c4341b&type=3#club");
    --background-img8: url("project://database/Assets/Sprites/Navi.png?fileID=2800000&guid=9b12f0270d114564c93e982fcc4c7edd&type=3#Navi");
    --background-img9: url("project://database/Assets/Sprites/secret.png?fileID=2800000&guid=e945b9400329b5a428326625c1c0882a&type=3#secret");
    --background-img10: url("project://database/Assets/Sprites/friends.png?fileID=2800000&guid=e1c932ef24a0c134cb4d82bff3fa80df&type=3#friends");
    --background-img11: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon_Chest/set_icon_gold_5.png?fileID=21300000&guid=0f778e6904b37473c842c061d758d04c&type=3#set_icon_gold_5");
    --background-img12: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_Icons_(Original)/icon_scroll_letter_0.png?fileID=21300000&guid=cf5255695a239411ea13fc6a343ccda7&type=3#icon_scroll_letter_0");
    --background-img13: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon/icon_color_ad_00.png?fileID=21300000&guid=88e47bff8614d48ceaf860d69444b924&type=3#icon_color_ad_00");
    --background-img14: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_Icons_(Original)/icon_flag_sword.png?fileID=21300000&guid=6253b78082e1e44a8be3dc6af3bb8834&type=3#icon_flag_sword");
    --background-img15: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Label/label_ribbon_00_Demo.png?fileID=21300000&guid=4721a02d13b204939a62463b27b33365&type=3#label_ribbon_00_Demo");
    --background-img16: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_cardframe_02_front.png?fileID=21300000&guid=0ee5ce27866c14801b7b6442f15c4628&type=3#frame_cardframe_02_front");
    --background-img17: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_FunctionIcons_(Original)/function_icon_user_2.png?fileID=21300000&guid=872eb60854412497a95428c23d222c0a&type=3#function_icon_user_2");
    --background-img18: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Icon_FunctionIcons_(Original)/function_icon_search.png?fileID=21300000&guid=825b2774470644f119f9dab0d88b1e44&type=3#function_icon_search");
    --background-img19: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Button/btn_rectangle_01_n_yellow.png?fileID=21300000&guid=ae9f8677ca3c24a7c80d7217a941f886&type=3#btn_rectangle_01_n_yellow");
    --background-img27: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Button/btn_rectangle_02.png');
    --background-img20: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_icontype_00_bot_fill_yellow.png?fileID=21300000&guid=556ec779aaa69466bbd4be919c45b0b6&type=3#slider_icontype_00_bot_fill_yellow");
    --background-img21: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon/icon_ticket_gold.png?fileID=21300000&guid=28778547f0c614fb4839df359be936d9&type=3#icon_ticket_gold");
    --background-img22: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_itemframe_01_frame_purple1.png?fileID=21300000&guid=40199c574a2f64dc1873061e81af0c32&type=3#frame_itemframe_01_frame_purple1");
    --background-img23: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Slider/slider_icontype_05_icon1.png?fileID=21300000&guid=3119547cb411044d1b6dfd454c15aacd&type=3#slider_icontype_05_icon1");
    --background-img24: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Play/group_image_roulette5.png?fileID=21300000&guid=86bfd05e9420e44b88cd4091106c5801&type=3#group_image_roulette5");
    --background-img25: url("project://database/Assets/Sprites/switch-warrior.png?fileID=2800000&guid=03fea6c95818eb24388b50954e1e1e52&type=3#switch-warrior");
    --background-img29: url("project://database/Assets/Sprites/switch-warrior2.png");
    --background-img28: url("project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Play/joystick_button_00_frame.png");

    --background-img30: url("project://database/Assets/Sprites/no-profile.png");

    /*background-img blue*/
    --background-img31: url("project://database/Assets/Sprites/bg-12.jpg");
    --background-img32: url("project://database/Assets/Sprites/bg-5.jpg");
    --background-img33: url("project://database/Assets/Sprites/bg-6.png");
    --background-img34: url("project://database/Assets/Sprites/bg-7.png");
    --background-img36: url("project://database/Assets/Sprites/bg-14.jpg");

    /*background-img gold*/
    --background-img26: url("project://database/Assets/Sprites/bg-9.jpg");
    --background-img35: url("project://database/Assets/Sprites/bg-13.jpg");


    --overlay-color: rgba(0, 0, 0, 0.2);
}

#Container {
    /*background-image: var(--background-img26);*/
    /*background-image: var(--background-img35);*/
    background-image: var(--background-img36);
    /*background-image: var(--background-img32);*/
}

#HeroPicture {
    background-image: var(--background-img2);
}

#Overlay {
    background-color: var(--overlay-color);
}

#ProfPic1 {
    background-image: var(--background-img3);
}

#ProfPic2 {
    background-image: var(--background-img3);
}

#ProfPic3 {
    background-image: var(--background-img3);
}

#Play {
}

#ButtonPlay {
    background-image: var(--background-img19);
    /*background-image: var(--background-img27);*/
}

#ContainerBattlePass {
    background-image: var(--background-img22);
}

#BattlePassIcon {
    background-image: var(--background-img21);
}

#ContainerChallenges {
    background-image: var(--background-img6);
}

#ContainerClub {
    background-image: var(--background-img7);
}

#Team1 {
    background-image: var(--background-img8);
}

#Team2 {
    background-image: var(--background-img9);
}

#ContainerShop {
    background-image: var(--background-img11);
}

#ContainerMission {
    background-image: var(--background-img12);
    background-size: 70%;
}

#ContainerWatch {
    background-image: var(--background-img13);
    background-size: 75%;
}

#ContainerClub {
    background-image: var(--background-img14);
    background-size: 90%;
}

#TitleFriends {
    background-image: var(--background-img15);
}

#ContainerFriends {
    background-image: var(--background-img16);
    background-color: orange;
}

#AddFriend {
    background-image: var(--background-img17);
}

#SearchFriend {
    background-image: var(--background-img18);
}

#SliderProgressBar {
    background-color: orange;
    width: 80%;
}

#Level {
    background-image: var(--background-img23);
}

#SwitchWarriorButton {
    background-image: var(--background-img24);
    /*background-image: var(--background-img28);*/
}

#SwitchWarriorIcon {
    background-image: var(--background-img25);
    /*background-image: var(--background-img29);*/
}

.dark-blue {
    background-color: #002244;
}

#Player1 {
    background-image: var(--background-img3);
}

#Player2 {
    background-image: var(--background-img3);
}

#Player3 {
    background-image: var(--background-img30);
}