:root {
    --background-img: url('project://database/Assets/Sprites/bg-9.jpg?fileID=2800000&guid=0d6c6daf39602c7419e6019a972df621&type=3#bg-9');
    --background-img2: url('project://database/Assets/Sprites/hang-tuah2.png?fileID=2800000&guid=e7ddecd0671c846408212a272189f9d3&type=3#hang-tuah2');
    --background-img3: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Frame/frame_cardframe_02_front.png?fileID=21300000&guid=0ee5ce27866c14801b7b6442f15c4628&type=3#frame_cardframe_02_front');
    --background-img4: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Component/Button/btn_rectangle_01_n_blue.png?fileID=21300000&guid=6900647849bf74c2daec9082ae11cc1c&type=3#btn_rectangle_01_n_blue');
    --background-img5: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon/icon_color_sns_google.png?fileID=21300000&guid=4fba695a6c48f4a1c8ecdcdd51e481dc&type=3#icon_color_sns_google');
    --background-img6: url('project://database/Assets/Layer%20Lab/GUI%20Pro-FantasyRPG/ResourcesData/Sprites/Demo/Demo_Icon/icon_color_sns_facebook.png?fileID=21300000&guid=b8613e90d39bd4854ac0b159c9c87ae3&type=3#icon_color_sns_facebook');
    /* --overlay-color: rgba(0, 0, 0, 0.9); */
}

#BackgroundImage {
    background-image: var(--background-img);
}

#WarriorAvatar {
    background-image: var(--background-img2);
}

#SignUp {
    background-image: var(--background-img3);
    /* background-color: var(--overlay-color); */
}

#SignUpButton {
    background-image: var(--background-img4);
}

#GmailImage {
    background-image: var(--background-img5);
}

#FBImage {
    background-image: var(--background-img6);
}
